<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <fields_masks>
                <url_key_mask>{{name}}</url_key_mask>
            </fields_masks>
            <category_fields_masks>
                <url_key_mask>{{name}}</url_key_mask>
            </category_fields_masks>
        </catalog>
    </default>
</config>